<html lang="ko_KR" class="js localstorage js localstorage">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://kit.fontawesome.com/02b9945b46.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/x-icon" />
		<link href="https://lostarkstat.s3.ap-northeast-2.amazonaws.com/css/common.css" rel="stylesheet" type="text/css" />
		<link href="https://lostarkstat.s3.ap-northeast-2.amazonaws.com/css/new.css" rel="stylesheet" type="text/css" />
		<link href="https://lostarkstat.s3.ap-northeast-2.amazonaws.com/css/styleSheet.css" rel="stylesheet" type="text/css" />
		
	</head>
	<body class="">
		{{#if isLogin }}
			<div style="height: auto; display: flex; align-items: center;">
				<h3>
					어서오세요, {{ name }}님!
				</h3>
				<li class="gnb-list-item gnb-list-item__login">
					<a class="gnb-btn-login" href="/api/auth/logout">
						로그아웃
					</a>
				</li>
				<li class="gnb-list-item gnb-list-item__login">
					<a class="gnb-btn-login" href="/raids">
						길드 레이드 관리
					</a>
				</li>
			</div>
		{{else}}
		<div style="height: auto;">
			<li class="gnb-list-item gnb-list-item__login">
				<a class="gnb-btn-login" href="/api/auth">
					로그인
				</a>
			</li>
		</div>
		<div style="height: auto;">
			<li class="gnb-list-item gnb-list-item__login">
				<a class="gnb-btn-login" href="/register">
					회원가입
				</a>
			</li>
		</div>
		{{/if}}
		<div class="l-wrap l-wrap--index">
			<div class="l-container">
				<div class="index-logo">
					<div id="logo">
						<img src="https://lostarkstat.s3.ap-northeast-2.amazonaws.com/images/logo.png" class="Image" />
					</div>
				</div>

				<form class="summoner-search-form" action="/search" autocomplete="off">
					<input
						type="text"
						name="username"
						class="summoner-search-form__text _suggest js-bound"
						placeholder="닉네임..."
						autocomplete="off"
					/>
					<button type="submit" class="summoner-search-form__button">
						<i class="fas fa-search"></i>
					</button>

				</form>

				<div class="opgg__notice--index"></div>
			</div>
		</div>
	</body>
</html>