<html>
<head>
	<style>
		
	body{
    	background-image: url("/images/vacation.jpg");
    	background-size: cover;
		color: #DEE8E9;
		margin: 0px;
		padding: 5px;
		
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.root{
		height: 600px;
		width: 500px;
		background-color: #0A528C;
		padding: 5px;
		border: 2px solid white;
		border-radius: 10px;
	}
	.root .header{
		height: 30px;
	}
	.root #comment{
		width: 500px;
		height: 430px;
		resize: none;
		margin-bottom: 5px;
	}

	.root .icoBox{
		height: 50px;
	}
	
	</style>
</head>
<body>
<div class="root">
	<div id="commander" class="header">
		{{!-- 발탄 노말, 발탄 하드, 비아키스 노말, 비아키스 하드 등 --}}
		발탄 노말
	</div>
	<div id="target" class="header">
		{{!-- 1, 2, 3, 4, 5, 6관  --}}
		1-2
	</div>
	<div id="date" class="header">
		{{!-- 2021. 12. 23 --}}
		2121. 12. 23.
	</div>
	<div id="constraint" class="header">
		{{!-- 제한사항, 숙련, 반숙, 클경, 트라이 --}}
		숙련
	</div>
		{{!-- 부가적인 설명 --}}
	<textarea name="comment" id="comment">
노말 쿠크세이트 트라이 반숙팟
 2딜러 모집합니당!선생님환영!
원거리 딜러환영!
2마4마가능하신분!
z지존짱워리어z
웨하스와사비맛(바드 빛디렉)
딜러(구인중)
딜러(구인중)


	</textarea>
	<div id="iconBox">
		<input type="button" value="등록">
		<input type="button" value="취소">
	</div>

</div>
</body>

</html>
