<html>
	<body>
		<a
			href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.email&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http://localhost:8080/auth/google/redirect&response_type=code&client_id=202514469766-7egkjnm3a1bju9l0ih38mkjl3650hks6.apps.googleusercontent.com"
		>구글 API를 사용할 수 있도록 허용하러 가기</a>
	</body>
</html>