<html>
<head>

<style>
	body{
    	background-image: url("/images/vacation.jpg");
    	background-size: cover;
		color: #DEE8E9;
		margin: 0px;
	}
	.root{
		margin: 0px;
		padding: 0px;
	}
	.header{
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.header .iconBox input[type="button"]{
		width: 150px;
		height: 100%;
		margin: 5px;
		background-color: #B8B5B0;
		border: 0px;
		color: #0A528C;
		font-weight: bold;
	}
	.timeTable{
		width: 98%;
		height: 90%;
		padding: 10px;
		display: flex;
    	flex-direction: row;
	    justify-content: flex-start;
		overflow-y: auto;
		overflow-x: scroll;
	}
	.timeTable::-webkit-scrollbar{
		background-color: transparent;
	}
	.timeTable::-webkit-scrollbar-thumb{
		background-color: white;
		border-radius: 10px;
	}
	.timeTable::-webkit-scrollbar-button{
		background-color: transparent;
	}
	.timeTable .row{
		display: flex;	
	    flex-direction: column;
		width: 350px;
		min-width: 350px;
		height: 100%;
	}
	.row .title{
		text-align: center;
	}
	.row .post{
		background-color: #0A528C;
		padding: 10px;
		margin: 5px;
		border: 1px solid black;
		border-radius: 10px;
	}
	.post .time{
		margin-bottom: 10px;
		
	}
	.post .users{
		margin-bottom: 10px;
	}
	.post .user{
		display: flex;
	}
	.post .role{
		margin-right: 5px;
		width: 97px;
	}
	.post input[type="button"]{
		width: 100%;
		height: 30px;
		background-color: #B8B5B0;
		color: #0A528C;
		border: 0px;
		font-weight: bold;
	}

</style>
</head>
<body>
<div id="root">
	<div class="header">
		<div class="title">
			<div id="nickName"> hello, 1대대당직사령!</div>
			<div id="time">오늘은 2021년 12월 23일입니다. </div>

		</div>
		<div class="iconBox">
			<input type="button" value="새 글 등록하기">
		</div>

	</div>
	<div class="timeTable">
		<div class="row">
			<div class="title"><h3>발탄_노말</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">스트라이커</div>
						<div class="nickname">낙지매운탕</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
			
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">스트라이커</div>
						<div class="nickname">낙지매운탕</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
			
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">스트라이커</div>
						<div class="nickname">낙지매운탕</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>발탄_하드</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>비아키스_노말</h3></div>
			<div class="post">
				등록된 공격대가 없습니다.
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>비아키스_하드</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>쿠크세이튼</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>아브렐슈드_노말</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>
		<div class="row">
			<div class="title"><h3>아브렐슈드_하드</h3></div>
			<div class="post">
				<div class="">출발 시간</div>
				<div class="time">2021.12.23 17:30</div>
				<div class="">도전 관문</div>
				<div class="time">1-2</div>
				<div class="users">
					<div class="user">
						<div class="role">바드</div>
						<div class="nickname">찾으시던바드</div>
					</div>
					<div class="user">
						<div class="role">스카우터</div>
						<div class="nickname">1대대당직사령</div>
					</div>
					<div class="user">
						<div class="role">워로드</div>
						<div class="nickname">구세군무장친위대</div>
					</div>
					<div class="user">
						<div class="role">디스트로이어</div>
						<div class="nickname">13글자를꽉채울수가있을까</div>
					</div>
				</div>
				<input type="button" value="지원하기">
			</div>
		</div>

	</div>
	
</div>

</body>


</html>