<div class="post">
	<div class="">출발 시간</div>
	<div class="time">2021.12.23 17:30</div>
	<div class="">도전 관문</div>
	<div class="time">1-2</div>
	<div class="users">
		<div class="user">
			<div class="role">바드</div>
			<div class="nickname">찾으시던바드</div>
		</div>
		<div class="user">
			<div class="role">스카우터</div>
			<div class="nickname">1대대당직사령</div>
		</div>
		<div class="user">
			<div class="role">워로드</div>
			<div class="nickname">구세군무장친위대</div>
		</div>
		<div class="user">
			<div class="role">디스트로이어</div>
			<div class="nickname">13글자를꽉채울수가있을까</div>
		</div>
	</div>
	<input type="button" value="지원하기">
</div>